---
layout: default
---




	


<section id="portfolio">
	<div class="container">
		<div class="row">
		{% for post in site.posts %}
			<div class="aspect">
				{% if post.thumbnail %}
				<div class="ratio" style="background-image:url('{{ post.thumbnail }}')"></div>
				{% else %}
				<div class="ratio" style="background-image:url('http://placehold.it/200x800')"></div>
				{% endif %}			
			</div>            
		{% endfor %}	
		</div>
	</div>
</section>




<div id="elastic_grid_demo"></div>




