---
layout: default
---







<section id="portfolio">
	<div class="container">
		<div class="row">
		{% for post in site.posts %}
			<div class="aspect">
				{% if post.thumbnail %}
				<div class="ratio" style="background-image:url('{{ post.thumbnail }}')"></div>
				{% else %}
				<div class="ratio" style="background-image:url('http://placehold.it/200x800')"></div>
				{% endif %}			
			</div>            
		{% endfor %}	
		</div>
	</div>
</div>




<!-- Portfolio Grid Section -->
<!--<section id="portfolios">
	<div class="container">		
		<div class="row">
			{% for post in site.posts %}
			<div class="col-sm-4 portfolio-item">			
				<a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							{{ post.title }}<br/>
							<i class="fa fa-search-plus fa-3x"><span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span></i>
						</div>
					</div>
					{% if post.thumbnail %}
						<img src="{{ post.thumbnail }}"  class="img-responsive"  />
					{% else %}
						<img src="http://ironsummitmedia.github.io/startbootstrap-freelancer/img/portfolio/cabin.png" class="img-responsive" alt="">
					{% endif %}					
				</a>
			</div>			
			{% endfor %}		
		</div>
	</div>
</section>
-->







