

<!-- Introduction Row -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">About Me
              <small>It's Nice to Meet You!</small>
          </h1>
          <p>Hi there! I am Faisal Zaman. I design and develop games in various platforms (HTML5, Canvas, Unity – Andriod/PC/Web, Flash) and I enjoy the challenge of creating engaging games and achieving the results-driven objectives.</p>

          <p>In a past life I worked in electronics, designing microchips, embedded software and test environments for communicatons, networking and sensor systems.</p>

          <p>Nowadays I get my hands dirty with both frontend and backend web development, and like to ponder stuff like web standards, design methodologies, usability and accessibility. I'm a bit of an idealist sometimes, but try to balance that with a healthy dose of pragmatism.</p>
      </div>
  </div>
