


<div class="header-background full-height">
	<div id="slides" class="">
		<div class="slides-container relative">
			<div class="bg-header" style="background-image: url('https://drscdn.500px.org/photo/95274805/m%3D2048/dd00d363c36cc3b7da7c8d607231a143')"></div>  
			<div class="bg-header" style="background-image: url('https://drscdn.500px.org/photo/94959711/m%3D2048/b93d4d45a5dc21ff6d6b5e9d5483a69d')"></div>            
			<div class="bg-header" style="background-image: url('https://drscdn.500px.org/photo/85556205/m%3D2048/c95c4c4e11adaae717d1804b6e1b8577')"></div>
		</div> 	
	</div>
	<div class="overlay"></div>
	<div class="content-header">
		<div class="sub-title"><span>a Portfolio &amp; Blog of</span></div>
        <h1>FAISAL ZAMAN</h1>
        <p>Programming | Gaming | Photography</p>
	</div>
</div>







<!-- Navigation -->
<nav class="navbar navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.baseurl }}/">FZ<!-- {{ site.title }} --></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li class="page-scroll">
					<a href="#portfolio">Portfolio</a>
				</li>
				<li class="page-scroll">
					<a href="#about">About</a>
				</li>
				<li class="page-scroll">
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>


