


<div class="header-background full-height">
	<div id="slides" class="">
		<div class="slides-container relative">
			<div class="bg-header" style="background-image: url('https://drscdn.500px.org/photo/95274805/m%3D2048/dd00d363c36cc3b7da7c8d607231a143')"></div>  
			<div class="bg-header" style="background-image: url('https://drscdn.500px.org/photo/94959711/m%3D2048/b93d4d45a5dc21ff6d6b5e9d5483a69d')"></div>            
			<div class="bg-header" style="background-image: url('https://drscdn.500px.org/photo/85556205/m%3D2048/c95c4c4e11adaae717d1804b6e1b8577')"></div>
		</div> 	
	</div>
	<div class="overlay"></div>
	<div class="content-header">
		<div class="sub-title"><span>a Portfolio &amp; Blog of</span></div>
        <h1>FAISAL ZAMAN</h1>
        <p>Programming | Gaming | Photography</p>
	</div>
</div>






<!-- Fixed navbar -->
<nav id="header" class="navbar navbar-fixed-top">
	<div id="header-container" class="container navbar-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a id="brand" class="navbar-brand" href="#">FZ</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</nav><!-- /.navbar -->




