<!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="imgs/b.jpg">
            <h2 class="featurette-heading">Welcome to
                <span class="text-muted">jQuery404</span>
            </h2>
            <p class="lead">I design and develop games in various platforms (HTML5, Canvas, Unity – Andriod/PC/Web, Flash) and I enjoy the challenge of creating engaging games and achieving the results-driven objectives.</p>
            <p class="lead">I'm also an amateur photographer. I've always been interested in photography but recently I took it seriously. I'm still just a beginner but learning every day.</p>
        </div>

        <hr class="featurette-divider">

    </div>
