<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2D Video Call</title>

    <style>
        video{width: 150px; height: 150px; object-fit: cover;}
        video.guest {width: 70%; height: 100%; background: #747474; float: left;}
        video.host{position: absolute;bottom: 1em;right: 1em;}
        div#model_canvas {width: 30%; float:left;}
        canvas{border: 1px dashed;}
        div.annotate-wrapper{float: left; clear:both; width: 50%;}
    </style>

    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.138.0/build/three.module.js",
                "OrbitControls": "https://unpkg.com/three@0.138.0/examples/jsm/controls/OrbitControls.js",
                "GLTFLoader": "https://unpkg.com/three@0.138.0/examples/jsm/loaders/GLTFLoader.js",
                "RoomEnvironment": "https://unpkg.com/three@0.138.0/examples/jsm/environments/RoomEnvironment.js"
            }
        }
    </script>
    <script src="annotate.js" defer></script>
    <script type="module" src="loadmodel.js" defer></script>
</head>
<body>
    <pre></pre>
    <section class="select">
        <label for="audioSource">Audio source: </label>
        <select id="audioSource"></select>
    </section>
  
    <section class="select">
        <label for="videoSource">Video source: </label>
        <select id="videoSource"></select>
    </section>
    <input type="checkbox" id="builder" name="builder" value="builder"><label for="builder"> builder</label>
    <button onclick="startCall()">call</button>
    <br>
  
    <video class="host" playsinline autoplay muted></video>
    <video class="guest" playsinline autoplay muted></video>
    <div hidden id="model_canvas"></div>
    <div class="annotate-wrapper">
        <button onclick="clearCanvas()" style="position: absolute;">Clear</button>
        <button onclick="shareScreen()" style="position: absolute; left:30%;" id="drawShare">Drawing Share OFF</button>

        <canvas id="annotate"></canvas>
    </div>
    
</body>
</html>