.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body {
  font-family: 'Ubuntu Mono', monospace;
  padding-top: 54px;
  font-size: 20px;
  color: #225;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
    color: #01103e;
}

#sideNav .navbar-nav .nav-item .nav-link.active{color: #ffffff;}

.container-fluid{overflow: hidden;}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #BD5D38;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}


@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}


section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.event-award {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #dc3545;
  cursor: pointer;
  font-size: 1.5rem;
}

.bg-primary {
  background-color: #FDC204 !important;
}

.text-primary {
  color: #FDC204 !important;
}

a {
  color: #ffa700;
}

a:hover, a:focus, a:active {
  color: #824027;
}

.nav-pills li{
  cursor: pointer;
}


.nav-pills li.active{
    font-weight: 700;
    color: #010f3e;
    border-bottom: 1px solid #010f3e;
    background: #fec204;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.swiper-slide-container {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height:100vh;
  max-width: 600px;
  margin:auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.jq-project{
  cursor: pointer;
}

.researchImg{
  width: 10em;
  padding: 0 1em 1em 0;
}


.padRight{
  padding-left: 0em;
}

@media (min-width: 992px) {
  .padRight{
    padding-left: 10em;
  }
}

.timeline__nav {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  transition: top 0.3s ease-out;
}
.timeline__nav ul {
  list-style: none;
  list-style-position: inside;
  margin: 15px 0;
}
.timeline__nav ul li {
  margin: 15px 0;
  padding-left: 0;
  list-style-type: none;
  color: #bfc1c3;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

/*--------*/
.timerow {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
padding: 0 4px;
}

.column {
-ms-flex: 25%; /* IE10 */
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

@media screen and (max-width: 800px) {
.column {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}
}

@media screen and (max-width: 600px) {
.column {
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
}
}


/**/
.photos {
  /* Prevent vertical gaps */
  line-height: 0;
  
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

.photos img {
 width: 100% !important;
 height: auto !important;
 padding: 0.25em;
 cursor: pointer;
}

@media (max-width: 1200px) {
 .photos {
 -moz-column-count:    4;
 -webkit-column-count: 4;
 column-count:         4;
 }
}
@media (max-width: 1000px) {
.photos {
 -moz-column-count:    3;
 -webkit-column-count: 3;
 column-count:         3;
 }
}
@media (max-width: 800px) {
 .photos {
 -moz-column-count:    2;
 -webkit-column-count: 2;
 column-count:         2;
 }
}
@media (max-width: 400px) {
 .photos {
 -moz-column-count:    1;
 -webkit-column-count: 1;
 column-count:         1;
 }
}

.pp{padding:56.25% 0 0 0;position:relative;}
.ppp{position:absolute;top:0;left:0;width:100%;height:100%;}
.meta-blog{
  font-size: 15px;
  color: #757575;
}
.pointer{
  cursor: pointer;
}
.avatar {
  margin: auto;
  border-radius: 50%;
  font-size: 20px;
  color: #ffcc32;
  text-align: center;
  background-color: #000;
  padding: 5px 10px;
  font-weight: 800;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
.img-square-wrapper {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.update-c{line-height: 1.25rem;}
.update-card a{
  color: #000;
}
.update-card a:hover{
  color: #282759;
  text-decoration: none;
}
.perfundo__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1099;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0,0,0,.9);
}

.perfundo__overlay.hide {
  display: none;
}

.perfundo__figure {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.perfundo__close {
  top: 1em;
  right: 1em;
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M21.7%2010.3c-0.4-0.4-1-0.4-1.4%200l-4.3%204.3-4.2-4.2c-0.4-0.4-1-0.4-1.4%200-0.4%200.4-0.4%201%200%201.4l4.2%204.2-4.3%204.3c-0.4%200.4-0.4%201%200%201.4%200.4%200.4%201%200.4%201.4%200l4.3-4.3%204.2%204.2c0.4%200.4%201%200.4%201.4%200%200.4-0.4%200.4-1%200-1.4l-4.2-4.2%204.3-4.3C22.1%2011.3%2022.1%2010.7%2021.7%2010.3zM16%200C7.2%200%200%207.2%200%2016s7.2%2016%2016%2016c8.8%200%2016-7.2%2016-16S24.8%200%2016%200zM16%2030C8.3%2030%202%2023.7%202%2016S8.3%202%2016%202s14%206.3%2014%2014S23.7%2030%2016%2030z%22%2F%3E%3C%2Fsvg%3E);
}

.perfundo__control {
  position: absolute;
  width: 3em;
  height: 3em;
  background-position: center center;
  background-size: cover;
  text-indent: -999em;
}

.jq-project{
  overflow: hidden;
}

.jq-project-img-wrap{
  object-fit: contain;
  -webkit-transition: all .9s ease;
}

.jq-project-img-wrap:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Tooltip container */
.tooltips {
  position: relative;
  display: inline-block; 
}

.tooltips .tooltiptext {
  visibility: hidden;
  width: 320px;
  white-space: pre-wrap;
  background-color: black;
  font-style: normal;
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* project details */
.projd-title {
  border-bottom: 2px solid #000;
}
.projd-tags {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.85rem;
  letter-spacing: 0.0625rem;
}

/* research details */
p.author-affiliation {
  font-size: .85rem;
  line-height: 1rem;
}

.author-boxes {
  background: #fffae8;
}

.journal{
  font-family: 'Ubuntu';
  font-size: .95rem;
}

.bibtex-wrap {
  background: #fffae8;
}

.bibtex-pre {
  font-family: monospace;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: 1rem;
}

.thumbnail-box {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4), 9px 9px 0px rgba(0, 0, 0, .2);
}

.bd-callout {
  margin: .25rem 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.5rem;
  border-radius: .25rem;
  border-left-color: #fec201;
}