<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
	
	<div class="header-background full-height">
		<div id="slides" class="">
			<div class="slides-container relative">
				<div class="bg-header" style="background-image: url('imgs/img1.jpg')"></div>  
				<div class="bg-header" style="background-image: url('imgs/img2.jpg')"></div>            
				<div class="bg-header" style="background-image: url('imgs/img3.jpg')"></div>
			</div> 	
		</div>
		<div class="overlay"></div>
		<div class="content-header">
			<div class="sub-title"><span>a Portfolio &amp; Blog of</span></div>
			<h1>FAISAL ZAMAN</h1>
			<p>Programming | Gaming | Photography</p>
		</div>
	</div>
	
	
	<div class="container theme-showcase" role="main">
	
		{{ content }}
			
	</div>

    {% include footer.html %}

  </body>

</html>
