<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
	
	<div class="header-background full-height">
		<div id="slides" class="">
			<div class="slides-container relative">
				<div class="bg-header" style="background-image: url('https://drscdn.500px.org/photo/95274805/m%3D2048/dd00d363c36cc3b7da7c8d607231a143')"></div>  
				<div class="bg-header" style="background-image: url('https://drscdn.500px.org/photo/94959711/m%3D2048/b93d4d45a5dc21ff6d6b5e9d5483a69d')"></div>            
				<div class="bg-header" style="background-image: url('https://drscdn.500px.org/photo/85556205/m%3D2048/c95c4c4e11adaae717d1804b6e1b8577')"></div>
			</div> 	
		</div>
		<div class="overlay"></div>
		<div class="content-header">
			<div class="sub-title"><span>a Portfolio &amp; Blog of</span></div>
			<h1>FAISAL ZAMAN</h1>
			<p>Programming | Gaming | Photography</p>
		</div>
	</div>
	
	
	<div class="container theme-showcase" role="main">
	
		{{ content }}
			
	</div>

    {% include footer.html %}

  </body>

</html>
