<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
	
	<div class="header-background full-height">
		<div id="slides" class="">
			<div class="slides-container relative">
				<div class="bg-header" style="background-image: url('imgs/img1.jpg')"></div>  
				<div class="bg-header" style="background-image: url('imgs/img2.jpg')"></div>            
				<div class="bg-header" style="background-image: url('imgs/img3.jpg')"></div>
			</div> 	
		</div>
		<div class="overlay"></div>
		<div class="content-header">
			<!-- <div class="sub-title"><span>a Portfolio &amp; Blog of</span></div> -->
			<!-- <h1>FAISAL ZAMAN</h1> -->
			<div class="row">
			<div class="col-md-4">
				Cooking amazing products since 2010
			<!--<p>
					hello there!<br/>
					I'm a research software engineer. Before that 
					I am thrilled to be part of some exciting projects from some of the most creative people on the planet.
					Currently back to school to get my phd.
					Check out my <a href="/portfolio" alt="Portfolio">latest work</a>.
					In my spare time I love <a href="http://500px.com/jquery404" alt="jquery404 photos">photography</a> and <a href="https://www.tripcipe.com/trips/3460">travel</a>. 				
					You can reach me <a href="/contact">here</a> or read more about <a href="/about">me</a>.
				</p> -->
			</div>
		</div>
		</div>
	</div>
	
	
	<div class="container theme-showcase" role="main">
	
		{{ content }}
			
	</div>

    {% include footer.html %}

  </body>

</html>
